{% extends 'friend/layout.html' %}

{% load static %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static 'css/friend_list.css' %}">

{% endblock extra_head %}


{% block content %}

    <div class="invitation__logo">
        <img src="{% static 'img/DOWITH.png' %}" alt="logo">
        <h1>친구들</h1>
    </div>

    <section class="friend__list">

        <div class="friend__search">
            <p class="friend__list__title">
                나의 친구 리스트
            </p>

            <div class="friend__search__input">
                <input class="friend__list__search" type="text" placeholder="친구 닉네임을 검색하세요!">
                <button class="friend__list__btn">검색</button>    
            </div>

            {% for fd in friends %}
                <div class="friends">
                    <div class="friends__profile">
    
                        <div class="friends__profile__info">
                            <a href="{% url 'friend:fd_detail' fd.me.pk %}">
                                <img class="friends__profile__image" src="{% static 'img/DOWITH.png' %}" alt="logo">
                                <p class="friends__profile__name">{{fd.me}}</p>
                            </a>
                        </div>

                        <div class="friends__btn">
                            <button class="friends__btn__cheer" onclick="giveMotivation({{fd.me.id}})">응원하기</button>
                        </div>
                    </div>
                </div>
    

            {% endfor %}
        </div>        

        <div class="friend__request">
            <p class="friend__list__title">
                수락 대기 중인 친구
            </p>
            {% for pd in pendings %}

            <div class="friends">
                <div class="friends__profile">

                    <div class="friends__profile__info">
                        <a href="{% url 'friend:fd_detail' pd.me.pk %}">
                            <img class="friends__profile__image" src="{% static 'img/DOWITH.png' %}" alt="logo">
                            <p class="friends__profile__name">{{pd.me}}</p>
                        </a>
                    </div>

                    <div class="friends__pending__btn">
                        <form action="{% url 'friend:fd_approve' pd.me.pk %}", method="POST">
                            {% csrf_token %}
                            <input class="friend__pending__btn__accept" type="submit" value="수락">
                        </form>
    
                        <form action="{% url 'friend:fd_deny' pd.me.pk %}", method="POST">
                            {% csrf_token %}
                            <input class="friend__pending__btn__reject" type="submit" value="거절">
                        </form>
                    </div>

                </div>
            </div>


            {% endfor %}
        </div>


        <div class="friend__add">
            <a href="{% url 'friend:fd_create' %}">친구 추가하기</a>
        </div>
        


        <!--임시방편으로 위치만 잡아둔 것 나중에 코드 복사를 통해서 위치 조정 예정-->
        <div class="friend__motivation">
            친구 콕 찌르기
            <button onclick="removeMotivation()">모두 지우기</button>
            {% for motivation in motivation_from_friends %}

                <li class="friend__motivation__from__friend motivation-{{motivation.id}}">{{motivation.me.nickname}}님이 {{motivation.count}}번 콕 찔렀습니다. <button onclick="removeMotivation({{motivation.id}})">지우기</button></li>

            {% endfor %}
        </div>


    </section>

{% endblock content %}



{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
    
        const giveMotivation = async (id) => {
            const url = "/friend/motivate/";
            //이미 challengeUrl이 존재한다면 axios 실행을 안해도 됨. 그 조건을 따지기 위한 코드
            
            let message = confirm("콕 찌르시겠습니까?")

            if (message) {
                const {data} = await axios.post(url, {
                    id
                })

                alert(data.user + '님을 콕 찌르셨습니다.')
            }
        }


        //콕 찌르기의 위치가 정해지면 수정해야 함
        const removeMotivation = async (id=null) => {
            const url = "/friend/motivate/remove/";

            if (id === null) {

                let = message = confirm('모든 콕 찌르기를 지우시겠습니까?')

                if (message) {
                    const {data} = await axios.post(url, {
                        id
                    })

                    if (data.status == true) {
                        const allMotivations = document.querySelectorAll('.friend__motivation__from__friend')

                        allMotivations.forEach(motivation => motivation.remove())

                        alert('모든 콕 찌르기를 지우셨습니다.')
                    } else {
                        alert('다시 실행해 주세요.')
                    }
                }

            } else {

                let = message = confirm('해당 콕 찌르기를 지우시겠습니까?')

                if (message) {
                    
                    const motivationTarget = document.querySelector(`.motivation-${id}`)
                    motivationTarget.remove()

                    const {data} = await axios.post(url, {
                        id
                    })

                    alert('지웠습니다.')
                }

            }


        }

    </script>

{% endblock script %}
