{% extends 'layout.html' %}

{% load static %}

{% block calendar_head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <script src="{% static 'js/calendar.js' %}" defer></script>
{% endblock %}

{% block calendar %}
<div class="calendar_container">
    <h2 class="calendar_title"></h2>
    <div class="weekday">
        <div>일요일</div>
        <div>월요일</div>
        <div>화요일</div>
        <div>수요일</div>
        <div>목요일</div>
        <div>금요일</div>
        <div>토요일</div>
    </div>
    <div class="calendar"></div>
</div>

{% endblock calendar %}

