{% extends 'challenge/layout.html' %}

{% block content %}
    <div>
        <div>챌린지 등록하기</div>
        <br>
    </div>

    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label>제목 : </label>
            {{form.title}}
            <br>

            <label>설명 : </label>
            {{form.desc}}
            <br>

            <label>분류 : </label>
            {{form.category}}
            <br>

            <label>공개 상태 : </label>
            {{form.private}}
            <br>

            <label>최소 인원 : </label>
            {{form.min_pp}}
            <br>

            <label>최대 인원 : </label>
            {{form.max_pp}}
            <br>

            <label>시작일 : </label>
            {{form.start_date}}           
            <br>

            <label>기간 : </label>
            {{form.duration}}
            <br>

            <button type="submit" >등록하기</button>
        </form>
    </div>
{% endblock %}