{% extends 'challenge/layout.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/challenge_deatil.css' %}">
{% endblock %}

{% block content %}
<h2>{{ challenge.title }}</h2>

<div>
    <div>챌린지 설명: {{ challenge.desc }}</div> 
    <div>챌린지 공개범위: 
    {% if challenge.privat == 0 %}
        전체 공개
    {% elif challenge.privat == 1 %}
        친구 공개
    {% else %}
        나만 보기
    {% endif %}
       </div> 
    <div>챌린지 시작일: {{ challenge.start_date }}</div> 
    <div>챌린지 기간: {{ challenge.duration }}</div> 
</div>

<div>
    <div>목표 인원</div>
    <div> 참여중인 사람수(***수정필요***) / {{ challenge.max_pp }}</div>
</div>

<div id="url-link">www.나는 !!.com</div>
<button onclick="copyToClipboard('#url-link')">클립보드에 복사하기</button>

<hr>
<form action="{% url 'challenge:challenge_delete' challenge.pk %}">
    {% csrf_token %}
    <div><input type="submit" value="챌린지 포기하기"></div>
</form>

<form action="">
    {% csrf_token %}
    <div><input type="submit" value="챌린지 참여하기"></div>
</form>

<hr>

<input type="submit" id="result" value="챌린지 성공" />

<br>
<a href="{% url 'challenge:ch_list' %}">챌린지 리스트로 돌아가기</a>

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">


// 랜덤링크 생성


// 클립보드에 복사하기
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}

// 매일 12시에 업데이트
const resultBtn = document.querySelector("#result");

resultBtn.addEventListener('click', event => {
    resultBtn.classList.add('result-clicked');
})

function getTime() {
    const now = new Date();
    const hours = now.getHours();
    const minutes = now.getMinutes();
    const seconds = now.getSeconds();
    if (hours == 00){
         resultBtn.classList.remove('result-clicked');
    }
    //if (seconds == 00){
    //    resultBtn.classList.remove('result-clicked')
    //}
}

function init(){
    getTime();
    setInterval(getTime, 1000);
    return;
}

init()
</script>
{% endblock script %}