{% extends 'challenge/layout.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/challenge_detail.css' %}">
    <!-- axios install -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script defer src="{% static 'js/challenge_detail.js' %}"></script>
    
{% endblock %}

{% block content %}
<h2>{{ challenge.title }}</h2>

<div>
    <div>챌린지 설명: {{ challenge.desc }}</div> 
    <div>챌린지 공개범위: 
    {% if challenge.private == 0 %}
        전체 공개
    {% elif challenge.private == 1 %}
        친구 공개
    {% else %}
        나만 보기
    {% endif %}
    </div> 
    <div>챌린지 시작일: {{ challenge.start_date }}</div> 
    <div>챌린지 기간: {{ challenge.duration }}</div> 
</div>

{% comment %} 
<div>
    <div>목표 인원</div>
    <div> 참여중인 사람수(***수정필요***) {{ enrollment.total_player }}/ {{ challenge.max_pp }}</div>
</div> 
{% endcomment %}


<div onclick="urlGet({{challenge.id}});">url이 보고싶니?</div>
<div id="url-link"></div>

<hr>

{% if status %}
    <form action="{% url 'challenge:challenge_delete' challenge.pk %}", method="POST">
        {% csrf_token %}
        <div><input type="submit" value="챌린지 포기하기"></div>
    </form>
    
{% else %}
    <form action="{% url 'challenge:challenge_enrollment' challenge.pk %}", method="POST">
        {% csrf_token %}
        <input type="submit" value="챌린지 참여하기">
    </form>  
{% endif %}
   
<hr>


<div>
    {% if status %}
        {% if enrollment.result %}
            <button type="submit" onclick="onClickResult({{ challenge.id }})" class="result-{{challenge.id}} result-clicked">챌린지 성공</button>
        {% else %}
            <button type="submit" onclick="onClickResult({{ challenge.id }})" class="result-{{challenge.id}}">챌린지 성공</button>
        {% endif %}
    {% endif %}
</div>


<br>
<a href="{% url 'challenge:ch_list' %}">챌린지 리스트로 돌아가기</a>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
// 랜덤링크 생성


//function urlGet() = {
//    const url = document.location.href
//    const target = document.querySelector('#url-link')
//    const urlMaker = document.createElement('div')
//    const currentUrl = document.createElement('p')
//
//    currentUrl.id = "challengeUrl"
//    currentUrl.innerText = url
//    urlMaker.appendChild(currentUrl)
//    target.appendChild(urlMaker)    
//} 

const urlGet = async (id) => {
    const url = "/challenge/send/invitation/";
    //이미 challengeUrl이 존재한다면 axios 실행을 안해도 됨. 그 조건을 따지기 위한 코드
    const urlStatus = document.querySelector('#urlMaker') === null;
    
    if (urlStatus) {

        const {data} = await axios.post(url, {
            id
        })
        urlGetModify(data.id, data.invitation_key)

    } else {

        const target = document.querySelector('#urlMaker')
        target.remove()

    }
}

const urlGetModify = (id, invitation_key) => {

    const target = document.querySelector('#url-link')

    const urlMaker = document.createElement('div')
    const currentUrl = document.createElement('div')
    const copyBtn = document.createElement('button')

    urlMaker.id = "urlMaker"
    currentUrl.id = "challengeUrl"
    currentUrl.innerText = invitation_key

    copyBtn.innerText = '복사하기'
    copyBtn.setAttribute('onclick', "copyToClipboard('#challengeUrl')")

    urlMaker.appendChild(currentUrl)
    urlMaker.appendChild(copyBtn)
    target.appendChild(urlMaker)     
}



// 클립보드에 복사하기
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}


// 챌린지 성공 버튼
const onClickResult = async (id) => {
    const url = "/challenge/result_ajax/";

    const {data} = await axios.post(url, {
        id
    })

    result_modify(data.id, data.result);
}

const result_modify = (id, result) => {
        const resultBtn = document.querySelector(`.result-${id}`);

        if (result === false) {
            resultBtn.className = `result-${id}`;
        }
        else {
            resultBtn.classList.add('result-clicked');
        }
    }



// 매일 12시 업데이트
//function getTime() {
//    const now = new Date();
//    const hours = now.getHours();
//    const minutes = now.getMinutes();
//    const seconds = now.getSeconds();
//    if (hours == 00){
//         resultBtn.classList.remove('result-clicked');
//    }
    //if (seconds == 00){
    //    resultBtn.classList.remove('result-clicked')
    //}
//}

//function init(){
//    getTime();
//    setInterval(getTime, 1000);
//    return;
//}

//init()
</script>
{% endblock script %}