{% extends 'login/layout.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'login/css/register_success.css' %}">
{% endblock %}

{% block content %}
    <div class="success">
        <div class="success__container">

            <div class="success__logo">
                <img src="{% static 'img/DOWITH_logo.png' %}" alt="logo">
            </div>

            <div class="success__content">
                <p>반갑습니다!</p>
                <p>로그인 완료되었습니다.</p>
            </div>
        
            <div class="success__button">
                <a href="{% url 'home' %}"><button class="success__home__btn">홈</button></a>
                <a href="{% url 'login:my_page' pk=request.user.pk %}"><button class="success__login__btn">대시보드</button></a>
            </div>
        
        </div>
    </div>


{% endblock content %} 