{% extends 'layout.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="{% static 'login/javascript/result.js' %}"></script>
    <link rel="stylesheet" href="{% static 'login/css/mypage.css' %}">
{% endblock %}
{% block content %}
    <div class="mypage">
        <div class="challenge_list_calendar">
            <h3>달력</h3>
        </div>
        <div class="challenge_list">
            <h3>오늘의 챌린지 리스트</h3>
            {% for end in enrollmentdates %}
                <li>
                    <a href="{% url 'challenge:challenge_detail' end.enrollment.challenge.id%}">{{end.enrollment.challenge.title}}</a>
                </li>
                <div class="result result-{{end.id}}" onclick="onClickResult({{end.pk}})">
                    {% if end.date_result %}
                        <i class="fas fa-check-circle"></i>
                        <input type="button" class="result_word succuss" value="챌린지 성공!"></input>
                        <p class="result__content"> 챌린지를 성공처리하셨습니다! </p>
                    {% elif end.date_result == False %}
                        <i class="far fa-check-circle"></i>
                        <input type="button" class="result_word fail" value="성공시 클릭"></input>
                        <p class="result__content"> 챌린지가 성공되면 체크박스를 눌러주세요! </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="friend_list">
            <h3>친구 리스트</h3>
            {% for fd in friends %}
                <a href="{% url 'friend:fd_detail' fd.friend.pk %}"><li>{{fd.friend}}</li></a>
            {% endfor %}
            <br>
            <br>
            <a href="{% url 'friend:fd_list' %}">더보기</a><br>
            
            <h3>설정</h3>
            <a href="{% url 'login:settings' %}">설정</a>
        </div>
    </div>
{% endblock %}