{% extends 'login/layout.html' %} {% load static %} {% block extra_head %}
<!-- axios install -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script defer src="{% static 'login/javascript/settings_main.js' %}"></script>
<link rel="stylesheet" href="{% static 'login/css/settings_main.css' %}" />
{% endblock %} {% block content %}
<div class="settings">
    <div class="settings__title">
        <p>마이페이지</p>
    </div>

    <div class="settings__content__container">
        <div class="settings__category">
            <div class="userInfo check">{{ request.user }} 정보</div>
            <div class="userChallenge">나의 챌린지</div>
            <div class="setting">설정</div>
            <div class="ToS">약관</div>
        </div>

        <div class="content settings__content">
            <div class="userInfo__content">
                <div class="profile_photo">
                    <img src="{{ request.user.image.url }}" alt="profile_photo">
                </div>
                <div class="username">
                    Username : {{ request.user.username }}
                </div>
                <div class="nickname">
                    Nickname : {{ request.user.nickname }}
                </div>
                <div class="email">
                    Email : {{ request.user.email }}
                </div>

                {% if request.user.is_social %}
                    <input class="userInfo__modification" type="submit" value="수정하기"/>
                {% else %}
                    <input class="userInfo__modification" type="submit" value="수정하기"/>
                    <input class="userInfo_password__modification" type="submit" value="비밀번호 변경하기"/>
                {% endif %}
        </div>
    </div>
</div>

<script>
    const userInfoModifyUrl = "{% url 'login:userinfo_modify' %}";
    const passwordModifyUrl = "{% url 'login:userinfo_password_modify' %}";

    // userInfo__modification
    const userInfoModify = document.querySelector(".userInfo__modification");
    userInfoModify.addEventListener("click", () => {
        document.location.href = userInfoModifyUrl;
    })

    // userInfo_password__modification
    const userInfoPasswordModify = document.querySelector(".userInfo_password__modification");
    userInfoPasswordModify.addEventListener("click", () => {
        document.location.href = passwordModifyUrl;
    })

    // const check = document.querySelector(".check")

</script>
{% endblock %}
