{% extends 'login/layout.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'login/css/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="signup">
        <div class="signup__container">
            <div class="signup__header">
                Sign up
            </div>
    
            <div class="signup__body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="{{ field.id_for_label }}__container {% if field.errors|length > 0%}has_error{% endif %}">
                            <div class="signup__form-field">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% if field.errors|length > 0 %}
                                <div class="signup__form-error">
                                    {% for error in field.errors %}
                                        <label class="error" for="{{ field.id_for_label }}">{{ error }}</label>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
    
                    <div class="signup__form-actions">
                        <button type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
{% endblock content %} 