{% extends 'login/layout.html' %}

{% load static %}

{% block extra_head %}
<!-- <style>
    .password-modify__form-field input:invalid {
        border-color: red;
    }
</style> -->
    <!-- <link rel="stylesheet" href="{% static 'login/css/userinfo_modify.css' %}"> -->
    <link rel="stylesheet" href="{% static 'login/css/userinfo_modify.css' %}">
{% endblock %}

{% block content %}
    <div class="userinfo_modify">
        <div class="userinfo_modify__container">
            <div class="userinfo_modify__logo">
                <img src="{% static 'img/DOWITH_logo.png' %}" alt="DOWITH_logo">
            </div>

            <div class="userinfo_modify__title">
                나의 비밀번호 수정하기
            </div>

            <div class="userinfo_modify__body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="{{ field.id_for_label }}__container {% if field.errors|length > 0 %}has_error{% endif %}">
                            <div class="password-modify__form-field">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                        {% if field.errors|length > 0 %}
                            <div class="password-modify__form-error">
                                {% for error in field.errors %}
                                    <label class="error" for="{{ field.id_for_label }}">{{ error }}</label>
                                {% endfor %}
                            </div>
                        {% endif %} 
                    {% endfor %}
                    <!-- {{ form.as_p }} -->
                    <div class="modify__form-actions">
                        <button type="submit">저장하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}