{% extends 'login/layout.html' %}

{% load static %}

{% block extra_head %}
<!-- <style>
    .password-modify__form-field input:invalid {
        border-color: red;
    }
</style> -->
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="{{ field.id_for_label }}__container {% if field.errors|length > 0 %}has_error{% endif %}">
                <div class="password-modify__form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            </div>
            {% if field.errors|length > 0 %}
                <div class="password-modify__form-error">
                    {% for error in field.errors %}
                        <label class="error" for="{{ field.id_for_label }}">{{ error }}</label>
                    {% endfor %}
                </div>
            {% endif %} 
        {% endfor %}
        <!-- {{ form.as_p }} -->
        <input type="submit" value="저장하기">
    </form>
{% endblock %}