@keyframes slidein {
    from {
        margin-top: 0px;
        width: 100%;
    }
    to {
        margin-top: 50px;
        width: 100%;
    }
}

* {
    font-family: "Do Hyeon", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.friend__detail {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;

    animation-duration: 1.5s;
    animation-name: slidein;
}

.friend__detail__calendar {
    margin: 0 auto;
}

.friend__detail__info {
    background: #efefef;
    border-radius: 20px;
    width: 40%;
    height: 300px;
    margin: 10px;
    padding: 30px;
    min-width: 400px;
}

.friend__detail__challenge {
    background: #efefef;
    border-radius: 20px;
    width: 40%;
    min-width: 400px;
    height: 300px;
    margin: 10px;
    padding: 30px;
}

.friend__detail__profile__img {
    width: 150px;
    height: 150px;
    margin: 1.5rem;
    /* cover할건가요? */
    object-fit: cover;
}

.friend__detail__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend__detail__challenge {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friend__detail__challenge__title > .title {
    margin: 1rem auto;
}

.friend__detail__challenge__each {
    background: #c4c4c4;
    border-radius: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    margin: 10px auto;
    height: 30px;
    line-height: 30px;
}

.friend__detail__delete {
    text-align: center;
    margin: 1rem;
}

.friend__detail__delete__btn {
    width: 80px;
    height: 30px;
    color: white;
    border: 0px;
    border-radius: 20px;
    background: #eb7676;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.friend__detail__add {
    text-align: center;
    margin: 1rem;
}

.friend__detail__add__btn {
    width: 80px;
    height: 30px;
    color: white;
    border: 0px;
    border-radius: 20px;
    background: #47cc71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}
