@keyframes slidein {
    from {
        margin-top: 0px;
        width: 100%;
    }
    to {
        margin-top: 50px;
        width: 100%;
    }
}

* {
    font-family: "Do Hyeon", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
h1 {
    margin: 10px 0;
}

.friend__list__createBtn {
    text-decoration: none;
    background: #47cc71;
    border: 0.1px solid #47cc71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 350;
    margin: 40px auto;
}

.friend__add__btn {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.invitation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    
    animation-duration: 1.5s;
    animation-name: slidein;
}

.invitation__logo > img {
    margin-right: 20px;
    width: 110px;
    height: 85px;
}

.friend__add {
    width: 100px;
    text-align: center;
    background: gray;
    color: white;
    margin: 5px auto;
    padding: 5px;
}

.friend__list {
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.friend__search {
    width: 60%;
    height: 80vh;
    overflow: auto;
    text-align: center;
    min-height: 30%;
    float: left;
    background: #efefef;
    border-radius: 20px;
    padding: 2rem 1rem;
    overflow: auto;
}

.friend__search__input {
    display: flex;
    justify-content: center;
}

.friend__list__search {
    width: 60%;
    border: 0px;
    background: #ffffff;
    border-radius: 20px;
    transform: rotate(-0.23deg);
    height: 30px;
    text-align: center;
}

.friend__list__btn {
    width: 80px;
    height: 30px;
    background: #47cc71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0px;
    color: white;
    margin-left: 20px;
    padding: 30px auto;
}

.friend__request {
    width: 30%;
    min-height: 30%;
    height: 80vh;
    float: right;
    background: #efefef;
    border-radius: 20px;
    padding: 2rem 1rem;
    overflow: auto;
}

.friend__list__content {
    width: 200px;
    height: 140px;
    list-style-type: none;
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.friend__friends__name {
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.friend__list__title {
    font-size: 1.5rem;
}

.friends__profile {
    width: 110px;
    min-width: 40%;
    padding: 0.5rem;
    margin: 1.5rem 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    border-radius: 20px;
}

.friends__profile__image {
    width: 80px;
    height: 80px;
    /* cover할건가요? */
    object-fit: cover;
    margin: 0 auto;
}

.friend__profile__name {
    margin-bottom: 0.5rem;
}

.friends__pending__btn {
    display: flex;
    justify-content: center;
}

.friend__pending__btn__accept {
    width: 40px;
    height: 30px;
    background: #47cc71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0px;
    color: white;
    margin: 0 5px;
}

.friend__pending__btn__reject {
    width: 40px;
    height: 30px;
    background: #eb7676;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0px;
    color: white;
    margin: 0 5px;
}

.friends {
    display: inline-block;
}

.friends__btn__cheer {
    background: #47cc71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 60px;
    border: 0px;
    color: white;
    height: 30px;
}
