* {
    font-family: "Do Hyeon", sans-serif;
}

.mypage a {
    text-decoration: none;
}

.mypage li {
    list-style: none;
}

.mypage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
    border-radius: 20px;
    padding: 8px 12px;
    width: 60%;
    margin: 0 auto;
}

.challenge_list_calendar {
    height: 200px; /*달력넣으면 제거*/
}
