@keyframes slidein {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 30px;
    }
}


* {
    font-family: "Do Hyeon", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

h3 {
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.mypage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px 12px;
    width: 60%;
    margin: 0 auto;
}

.setting{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 78.5%;
    margin-top: 30px;

    animation-duration: 1.5s;
    animation-name: slidein;
}

.setting i{
    color: #47cc71;
    font-size: 40px;
}

.setting i:hover{
    color: #055A05;
    font-size: 40px;
}

.setting i a{
    color: #47cc71;
    text-decoration: none;
}

.calendar_title {
    width: 100%;
    text-align: center;
    font-family: "Do Hyeon", sans-serif;
    font-weight: 100;
}

.calendar_header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6px;
    width: 100%;
}

.previous,
.after {
    background: #47cc71;
    border-radius: 20px;
    width: 100px;
    border: 0px;
    color: white;
    height: 30px;
    cursor: pointer;
}

.calendar_container{
    margin-top: 20px;
}

.calendar_container.container {
    background-color: #efefef;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 20px;
}

.container {
    background-color: #efefef;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 20px;
    min-height: 300px;
}

.green_text {
    color: #47cc71;
}

.mypage a {
    text-decoration: none;
    color: black;
}

.motivation_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.moti {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    width: 100%;
}

.moti div:first-child {
    list-style: none;
    background-color: #c4c4c4;
    border-radius: 20px;
    width: 80%;
    padding: 3px 0;
    text-align: center;
}

.moti button {
    background-color: #eb7676;
    border: 1px solid #eb7676;
    border-radius: 20px;
    font-weight: 100;
    padding: 7px 20px;
    color: white;
}
.moti_delete_all {
    background-color: #47CC71;
    border: 1px solid #47CC71;
    border-radius: 20px;
    font-weight: 100;
    padding: 7px 15px;
    color: white;
    margin-top: 15px;
}

.challenge_list {
    width: 100%;
 }

.challenge_list h3 {
    text-align: center;
}

.mypage .one_challenge {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    margin-top: 20px;
    width: 100%;
}
.mypage .one_challenge .challenge_title {
    background-color: #c4c4c4;
    border-radius: 20px;
    width: 80%;
    padding: 3px 0;
    text-align: center;
}

.mypage .one_challenge input {
    border-radius: 10px;
    padding: 0px 10px;
    color: white;
}

.mypage .one_challenge input:focus {
    outline: none;
}

.mypage .one_challenge .fail {
    background-color: #eb7676;
    border: 1px solid #eb7676;
    border-radius: 20px;
    font-weight: 100;
    padding: 7px;
}

.mypage .one_challenge .success {
    background-color: #76c8eb;
    border: 1px solid #76c8eb;
    border-radius: 20px;
    font-weight: 100;
    padding: 7px;
}

/* 챌린지 관련 */
.challenge_list .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 친구관련 */
.friend__list .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friend__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

.friend__list .friends {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friend__list .friends {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.friends {
    flex-flow: wrap;
}

.friend__list .friends .friend_total {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    padding: 2rem 1rem;
    width: 20vw;
    height: 27vh;
    margin: 10px 0;
}

.friend__list .friends .one_friend {
    display: flex;
    flex-direction: row;
    background: white;
}

.complete_challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.friends__profile__image {
    width: 80px;
    height: 80px;
    /* cover할건가요? */
    object-fit: cover;
    margin: 0 auto;
}

.friends .one_friend_motivate {
    background: #47cc71;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    width: 60px;
    border: 0px;
    color: white;
    height: 30px;
}

.friend__motivation {
    width: 100%;
}

.setting-btn {
    background: #47cc71;
    border: 1px solid #47cc71;
    border-radius: 20px;
    line-height: 50px;
    width: 25vw;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    margin: 12px auto;
}
.all-friend-btn {
    background-color: #47cc71;
    border: 1px solid #47cc71;
    border-radius: 20px;
    font-weight: 100;
    padding: 7px 15px;
    color: white;
}
.all-friend-btn a {
    color: #ffffff;
}

.setting-btn a {
    color: #ffffff;
    font-weight: 100;
}

.setting-btn{
    width: 14vw;
}