body {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}

.signup {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    /* justify-content: center; */
}

.signup__container {
    width: 80%;
    /* border: 1px solid gray;
    border-radius: 10px; */
    text-align: center;
    margin: 0 auto;
    /* 세로로 가운데 정렬 */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    margin-bottom: 50px;
}

.login__logo > img {
    width: 400px;
}

/* 소셜 로그인을 위한 css */
.login__title {
    margin-bottom: 3rem;
    font-family: "Do Hyeon";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: tomato;
}

.ToS {
    background-color: #efefef;
    width: 400px;
    height: 300px;
}

.signup__body {
    margin: 1rem;
    font-family: "Do Hyeon";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup__body > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* form 안의 내용 가로로 가운데 정렬 */
    align-items: center;
}

.signup__form-field {
    width: 350px;
    /* height: 30px; */
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.signup__form-field label {
    width: 100px;
}

.signup__form-field input {
    width: 240px;
    background-color: #efefef;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

/* input값이 invalid할 경우 테두리 빨간색 --> js로 처리해보자 */
/* .signup__form-field input:invalid {
    border-color: red;
} */

.signup__form-field input::placeholder {
}

.login__form-actions {
    width: 50%;
    /* font-weight: bold; */
}

.signup__form-actions button {
    width: 120px;
    height: 30px;
    margin-top: 40px;
    border: none;
    border-radius: 20px;
    background-color: #47cc71;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    font-family: "Do Hyeon";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
}

.signup__form-error {
    font-size: 17px;
    /* margin-bottom: 10px; */
    color: #5c62cc;
}

.signup__form-actions > button:hover {
    cursor: pointer;
}
