* {
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;  
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

option{
    font-family: 'Do Hyeon', sans-serif; 
}

content{
    width: 70%;
    height: 90%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid rgba(0, 0, 0, 0.55);
    box-sizing: border-box;
    border-radius: 20px;
}

.total-container{
    display: flex;
    justify-content:center;
    align-items: center;
}

h2{
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    font-weight: 200;
    font-family: 'Do Hyeon', sans-serif;  
}

.form-container{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
}

.label-container{
    display: flex;
    justify-content: space-between;
}

.label-container label{
    margin: 20px 0;
}

#id_min_pp, #id_max_pp, #id_title, #id_start_date, #id_duration, textarea, select{
    background: #EFEFEF;
    border-radius: 20px;
    transform: rotate(-0.23deg);
    width: 25vw;
    height: 40px;
    padding: 10px;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 10px 20px;
    border: 0.1px solid #C4C4C4;
}

.category-choice {
    width: 25vw;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 20px;
    background: #EFEFEF;
    transform: rotate(-0.23deg);
    border: 0.1px solid #C4C4C4;
}



.date-choice > input {
    width: 25vw;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 20px;
    background: #EFEFEF;
    transform: rotate(-0.23deg);
    border: 0.1px solid #C4C4C4;
    font-size: 1rem;
}

textarea{
    height: 150px;
    white-space: pre;
}


button{
    font-style: normal;
    font-size: 18px;
    line-height: 34px;
    background: #47CC71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 0.1px solid #47CC71;
    color: #FFFFFF;
    width: 20vw;
    margin: 30px;
}

button:hover{
    color: #FFFFFF;
    background: #007826;
    border: 0.1px solid #007826;
}

.button-container{
    display: flex;
    justify-content:center;
    align-items: center;
}



.category-choice label {
    font-size: 50px;
}

input[type="radio"] {
    display:none;
}

input:checked + i {
    font-size: 60px;
    color: #47CC71;
}
input:checked + span {
    font-size:1.3rem;
    color: #FFFFFF;
    background: #47CC71;
}

.category-choice-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.category__label {
    font-size: 1.2rem;
}

.category-three {
    display: flex;
    justify-content: space-around;
}

.category__btn {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}