body {
    margin: 0;
    padding: 0;
}

.mypage a {
    text-decoration: none;
}

.mypage li {
    list-style: none;
}

.mypage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #bed9fa;
    padding: 8px 12px;
    height: 400px;
    width: 60%;
    margin: 0 auto;
}
