{% extends 'layout.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block content %}
<div class="mainbox">
    <div class="err">5</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">0</div>
    <div class="msg">Internal Server Error. The server is not responding.<p>Let's go <a href="{% url 'challenge:home' %}">home</a> and try from there.</p></div>
</div>
{% endblock %}