{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>iChallenge</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% block extra_head %} {% endblock %}
        {% block calendar_head %} {% endblock %}
        {% block search_friend %} {% endblock %}

    </head>
    <body>
        <!-- navbar -->
        <nav>
            <div class="nav-center">
                <!-- nav header -->
                <div class="nav-header">
                    <button class="nav-toggle">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <!-- links -->
                <ul class="links">
                    <li><a href="{% url 'home' %}">홈</a></li>
                    <li>
                        <a href="{% url 'friend:fd_list' %}">친구 리스트</a>
                    </li>
                    <li>
                        <a href="{% url 'challenge:ch_list' %}">챌린지리스트</a>
                    </li>

                    {% if user.is_active %}
                        <li>
                            <a href="{% url 'login:logout' %}">로그아웃</a>
                        </li>
                        <li>
                            <a href="{% url 'login:my_page' user.id %}">마이페이지</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login:login' %}">로그인</a>
                        </li>
                        <li>
                            <a href="{% url 'login:signup' %}">회원가입</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <section class="back-image"></section>
        {% block calendar %}
        {% endblock calendar %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
